#container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes leftFadeIn {
  from {
    left: -1px;
  }
  to {
    opacity: 1;
  }
}
@keyframes topFadeIn {
  from {
    top: -1px;
  }
  to {
    opacity: 1;
  }
}
#container #file_3 {
  width: 160px;
  height: 600px;
  background: url("../images/files_640x950/bg.png");
  position: relative;
  overflow: hidden;
}
#container #file_3 img {
  position: absolute;
  opacity: 0;
}
#container #file_3 .product {
  right: 0;
  bottom: 0;
  animation: 2s fadeIn;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
#container #file_3 .text_1 {
  top: 49px;
  left: 173px;
  animation: 1s leftFadeIn;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}
#container #file_3 .text_2 {
  top: 152px;
  left: 394px;
  animation: 1s leftFadeIn;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}
#container #file_3 .text_3 {
  top: 152px;
  left: 262px;
  animation: 1s leftFadeIn;
  animation-delay: 1500ms;
  animation-fill-mode: forwards;
}
#container #file_3 .text_4 {
  top: 152px;
  left: 134px;
  animation: 1s leftFadeIn;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}
#container #file_3 .logo {
    top: 152px;
    left: 134px;
    animation: 1s leftFadeIn;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
  }
#container #file_4 {
  width: 1160px;
  height: 90px;
  background: url("../images/files_640x950/bg.png");
  position: relative;
  overflow: hidden;
}
#container #file_4 img {
  position: absolute;
  opacity: 0;
}
#container #file_4 .product {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: 2s fadeIn;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
#container #file_4 .text_1 {
  top: 23px;
  left: 71px;
  animation: 1s topFadeIn;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}
#container #file_4 .text_2 {
  top: 33px;
  left: 823px;
  animation: 1s topFadeIn;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}
#container #file_4 .text_3 {
  top: 33px;
  left: 742px;
  animation: 1s topFadeIn;
  animation-delay: 1500ms;
  animation-fill-mode: forwards;
}
#container #file_4 .text_4 {
  top: 33px;
  left: 667px;
  animation: 1s topFadeIn;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}
#container #file_4 .logo {
    top: 33px;
  left: 667px;
  animation: 1s topFadeIn;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
  }
#container #file_5 {
  width: 640px;
  height: 950px;
  background: url("../images/files_640x950/bg.png");
  position: relative;
  overflow: hidden;
}
#container #file_5 img {
  position: absolute;
  opacity: 0;
}
#container #file_5 .product {
  right: 0;
  bottom: 0;
  animation: 2s fadeIn;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
#container #file_5 .text_1 {
  top: 106px;
  left: 148px;
  animation: 1s leftFadeIn;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}
#container #file_5 .text_2 {
  top: 208px;
  left: 110px;
  animation: 1s leftFadeIn;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}
#container #file_5 .text_3 {
  top: 208px;
  left: 236px;
  animation: 1s leftFadeIn;
  animation-delay: 1500ms;
  animation-fill-mode: forwards;
}
#container #file_5 .text_4 {
  top: 208px;
  left: 368px;
  animation: 1s leftFadeIn;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}
#container #file_5 .logo {
    top: 904px;
    left: 30px;
    animation: 2s fadeIn;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
/*# sourceMappingURL=style.css.map */
